:root {
  //Colors
  --primary_light-cyan: hsl(193, 38%, 86%);
  --primary_neon-green: hsl(150, 100%, 66%);

  --neutral_grayish-blue: hsl(217, 19%, 38%);
  --neutral_dark-grayish-blue: hsl(217, 19%, 24%);
  --neutral_dark-blue: hsl(218, 23%, 16%);

  //Typography
  --fs_body: 1.75rem;

  --ff_primary: "Manrope", sans-serif;
}
